.row{
    padding: 15px;
    justify-content: center;
}




.col-sm-4 h2 {
    text-align: center;
    color: #010D26;
    border-radius: 5px;
    font-size: 24px;
}

.btn-primary {
    background-color: #010D26;
    border: none;
}

.btn-primary:hover {
    background-color: #021F59;
}

.btn-primary:active {
    background-color: #021F59;
}

.btn-danger {
    background-color: #010D26;
    border: none;
}

.btn-danger:hover {
    background-color: #021F59;
}

.btn-danger:focus {
    background-color: #021F59;
}

.card-title {
    font-size: 16px;
}

.terms {
    text-align: center;
    color: #bbbbbb;
        justify-content: flex-end;
    }
    
    body {
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        justify-content: center;
    }
    
    
    ul {
        list-style: none;
        padding-left: 0px;
    }
    
    .footer {
        background-color: #24262b;
        padding: 20px 0;
        height: auto;
    }
    
    .footer-col {
        width: 25%;
        padding: 0 15px;
    }
    
    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    
    .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    
    .footer-col ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }
    
    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    
    .footer-col .social-links a:hover {
        color: #24262b;
        background-color: #ffffff;
    }
    
    /*responsive*/
    @media(max-width: 767px) {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
    }
    
    @media(max-width: 574px) {
        .footer-col {
            width: 100%;
        }
    }

    /* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

#barra {
    padding-top: 80px;
}

.listaCompras {
    width: 600px;
    padding: 5px;
    margin: auto;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-top: 20px;
}

.btn-lg{
    width: 320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #010D26;
}

.text-right {
    text-align: right;
}

hr {
    width: 800px;
    margin: auto;
    justify-content: center;
}

#totid {
    font-size: 24px;
    color: #e91e63;
}

.list-group {
    padding: 15px;
    width: 600px;
}




.vac {
    width: 80px;
    padding: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}